<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 정보를 namespace에 기술 -->
<mapper namespace ="com.KoreaItAcdemy.OurNotion.mapper.UserMapper">
    <insert id="insertUser">
        INSERT INTO T_USER(ID, PWD, GENDER, NAME, BIRTH, TELNUM, DEPTSEQ, EMAIL, ISSOCIAL, PROFILE, LASTDATETIME)
        VALUES(#{id}, #{pwd}, #{gender}, #{name}, #{birth}, #{telNum}, #{deptSeq}, #{email}, #{isSocial}, #{profile}, SYSDATE)
    </insert>
    <select id="getUserList" resultType="userVO">
        <![CDATA[
        SELECT USERSEQ, ID, PWD, GENDER, NAME, BIRTH, TELNUM, DEPTSEQ, EMAIL, ISSOCIAL, LASTDATETIME
        FROM    T_USER
        WHERE   USERSEQ > 0
        ]]>
    </select>
    <select id="getUser" resultType="userVO">
        SELECT USERSEQ, ID, PWD, GENDER, NAME, BIRTH, TELNUM, DEPTSEQ, EMAIL, ISSOCIAL, PROFILE, LASTDATETIME
        FROM T_USER
        WHERE ID = #{id}
    </select>
    <update id="updateUser">
        UPDATE  T_USER
        SET     ID=#{id}, PWD=#{pwd}, NAME=#{name} ,GENDER = #{gender}, BIRTH=#{birth},  TELNUM=#{telNum}, DEPTSEQ=#{deptSeq}, EMAIL=#{email}
        WHERE   USERSEQ = #{userSeq}
    </update>
    <delete id="deleteUser">
        DELETE FROM T_USER
        WHERE  USERSEQ = #{userSeq}
    </delete>
</mapper>