<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <link rel="icon" th:href="@{/img/doro.ico}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>

<body>
    <div layout:fragment="mainContent" class="container">
        <h1>Board List</h1>
        <div style="text-align: center; margin-bottom: 20px;">
            <a href="/board/register" class="button">글쓰기</a>
            <a href="/index" class="button">메인 페이지로</a>
        </div>
        <hr>
        <table>
            <thead>
                <tr>
                    <th class="hide">번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th class="hide">수정일</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="board : ${list}">
                    <tr th:object="${board}">
                        <td th:text="*{bno}" class="hide"></td>
                        <td>
                            <a th:text="*{title}" th:href="@{/board/read(bno=*{bno})}"></a>
                        </td>
                        <td th:text="*{writer}"></td>
                        <td th:text="*{regdate}"></td>
                        <td th:text="*{updatedate}" class="hide"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <form method="get" action="/board/list">
            <div style="text-align: center;">
                <select name="type">
                    <option value="T">제목</option>
                    <option value="C">내용</option>
                    <option value="W">작성자</option>
                </select>
                <input type="text" id="keyword" name="keyword">
                <input type="submit" value="검색" class="button">
            </div>
        </form>
    </div>
</body>

</html>