<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원 탈퇴 확인</title>
    <link rel="icon" href="/img/doro.ico">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="/css/userDelete.css">
</head>

<body>
    <div class="container">
        <h1>회원 탈퇴</h1>
        <p>정말로 탈퇴하시겠습니까?</p>
        <div>
            <a href="/user/userDeleteOk" class="btn btn-danger" onclick="return confirm('정말로 탈퇴하시겠습니까?');">탈퇴하기</a>
            <a href="/user/userCheck" class="btn btn-secondary">돌아가기</a>
        </div>
    </div>
</body>

</html>