<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>OurNotion - <span layout:fragment="pageTitle"></span></title>
  <!-- 정적 리소스는 context-relative 경로를 사용 (static 폴더 내부) -->
  <link rel="icon" href="/img/doro.ico">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<!-- 사이드바 프래그먼트 삽입 (권장 문법: ~{...}) -->
<div th:replace="~{sidebar :: sidebarFragment}"></div>

<!-- 메인 콘텐츠 영역: 개별 페이지의 내용이 이 영역에 채워짐 -->
<div class="mainContents" layout:fragment="mainContent">
  <!-- 개별 페이지 내용 -->
</div>

<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>