<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper의 namespace는 인터페이스와 일치 -->
<mapper namespace="com.KoreaItAcdemy.OurNotion.mapper.AttachFileMapper">
    <insert id="insert">
        INSERT INTO T_ATTACH(FILENAME, UUID, UPLOADPATH, IMAGE, BoardSeq)
        VALUES (#{fileName}, #{uuid}, #{uploadPath}, #{image}, #{bno})
    </insert>

    <select id="findByBno" resultType="attachFileVO">
        SELECT * FROM T_ATTACH WHERE BoardSeq = #{bno}
    </select>

    <!-- 첨부파일 삭제 쿼리: 특정 게시물(BoardSeq)에 속한 모든 첨부파일 삭제 -->
    <delete id="deleteByBno">
        DELETE FROM T_ATTACH WHERE BoardSeq = #{bno}
    </delete>
</mapper>
