<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http//mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="boardVO" type="com.KoreaItAcdemy.OurNotion.bean.BoardVO"></typeAlias>
        <typeAlias alias="userVO" type="com.KoreaItAcdemy.OurNotion.bean.UserVO"></typeAlias>
        <typeAlias alias="attachFileVO" type="com.KoreaItAcdemy.OurNotion.bean.AttachFileVO"></typeAlias>
    </typeAliases>
</configuration>