/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* 왼쪽 사이드바 */
.leftSideBarOpen {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #f5f5f5;
    display: flex;
    align-items: start;
    justify-content: left;
    transition: width 0s ease;
}

.leftSideBarOpen .buttonLeft {
    position: fixed;
    margin-top: 0px;
    margin-left: 120px;
}

.leftSideBarOpen .userName {
    margin-top: 20px;
    margin-left: 40px;
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leftSideBarOpen .userProfile {
    position: fixed;
    margin-top: 17px;
    margin-left: 5px;
}

.leftSideBarOpen .mainMenu {
    position: fixed;
    margin-top: 150px;
    margin-left: 10px;
}

.mainMenu p {
    margin-bottom: 10px;
}

.leftSideBarOpen .userMenu {
    position: fixed;
    margin-top: 330px;
    margin-left: 10px;
}

/* 사용자 설정 메뉴 (정보수정) */
.leftSideBarOpen .userSettings {
    position: absolute;
    bottom: 50px; /* 로그아웃 버튼 위에 배치 */
    right: 0;
    margin-right: 8px;
}

.userMenu p {
    margin-bottom: 10px;
}

.leftSideBarOpen .userLogOut {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 8px;
}

/* 오른쪽 사이드바 */
.rightSideBarOpen {
    width: 200px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #f5f5f5;
    display: flex;
    align-items: start;
    justify-content: left;
    transition: width 0s ease;
}

/* 콘텐츠 영역 */
.mainContents {
    background: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: margin-left 0.3s ease, margin-right 0.3s ease, width 0.3s ease;
    width: 100%;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
}

.leftSidebarButton {
    position: absolute;
    top: 1px;
    left: 10px;
}

.rightSidebarButton {
    position: absolute;
    top: 1px;
    right: 10px;
}

/* 버튼 스타일 */
input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background: none;
    color: white;
    border: none;
}

input[type="button"]:hover {
    color: black;
}
